dist
.dist
.cache
build
manifest.json

.git/*
.DS_Store
.npmrc
.yarnclean
.eslintignore
.prettierignore
.npmignore
.gitignore
.yarnrc

license
yarn.lock
Dockerfile.*
Dockerfile

_env*
.env.*
*.env
*.ico
*.html
*.xml
*.log
*.svg
*.map
*.png
*.snap
*.txt
*.sketch
*.ttf
*.eot
*.ttf
*.woff
*.woff2
*.out
*.dms
*.sh
*.tar.gz
*.pem
*.jpg
*.gif
*.graphcool
*.re
*.wasm
*.yml
*.icns

# custom
server/db/dev.sqlite3
server/public/songs